body  {
  margin: 0;
}

header{
  /* background-color: blue; */

}

main{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-gap: 20px;
}

h1 {
  color: darkgrey;
  text-align: center;
 }

/* #menu {
  background-color: linen;
  color: white;
}
*/

#menu h2  {
  text-align: center;
  color: white;
}

.display  {
  background-color: linen;
  /* min-height: 400px; */
  margin: 0 auto;
  padding: 0 2em;
}

h2 {
  text-align: center;
  color: darkgrey;
  padding: .5em;
}

figure  {
    /* display: block; */
    /* margin: auto; */
}

img {
  /* margin: auto; */
  /* height: auto; */
  /* max-width: 100%; */
}

p {
  text-align: center;
  color: darkslategray;
}
